<!DOCTYPE html>
<html>
  <head>
    <title>Littok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon1.png' %>
    <meta name="image" property="og:image" content="https://i.imgur.com/ozW3hgA.png">
    <meta name="description" property="og:description" content="A single-page TikTok inspired web app where users can browse, upload, like and comment on videos.">
    <meta name="author" content="Daniel Guardado">
  </head>

  <script type="text/javascript">
    window.logo = "<%= image_url('logo2.png')%>"
    window.logoInvert = "<%= image_url('logo-invert.png')%>"
    window.house = "<%= image_url('house.png')%>"
    window.hash = "<%= image_url('hash.png')%>"
    window.social = "<%= image_url('social.png')%>"
    window.bg = "<%= image_url('background.png')%>"
    window.upload = "<%= image_url('upload3.svg')%>"
    window.github = "<%= image_url('github.png')%>"
    window.scrollup = "<%= image_url('scrollup.png')%>"
    window.qr = "<%= image_url('qr.png')%>"
    window.apple = "<%= image_url('apple.png')%>"
    window.google = "<%= image_url('google.png')%>"
    window.amazon = "<%= image_url('amazon.png')%>"
    window.watch = "<%= image_url('watch.png')%>"
    window.bwheart = "<%= image_url('bwheart.png')%>"
    window.redheart = "<%= image_url('redheart.png')%>"
    window.bwfire1 = "<%= image_url('firebw1.png')%>"
    window.firered1 = "<%= image_url('firered1.png')%>"
    window.comment = "<%= image_url('comment.png')%>"
  </script>
  
  <body>
    <%= yield %>
  </body>
</html>
