<!DOCTYPE html>
<html>
  <head>
    <title>Littok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon1.png' %>
  </head>

  <script type="text/javascript">
    window.logo = "<%= image_url('logo2.png')%>"
    window.house = "<%= image_url('house.png')%>"
    window.hash = "<%= image_url('hash.png')%>"
    window.social = "<%= image_url('social.png')%>"
    window.bg = "<%= image_url('background.png')%>"
  </script>
  
  <body>
    <%= yield %>
  </body>
</html>
